body {
    font-family: Arial, sans-serif;
}

/* Overlay - შავი გამჭვირვალე ფონი */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
}

/* Modal ფანჯარა */
#modal {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}
